@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
:root{
 --fundo-header: #2D3047;
 --fundo-main: #0A1045;
 --fundo-footer: #2D3047;
 --branco-pradao: #fff;
 --preto--padrao: #000;
 --cor-borda-botao: #628395;
 --fundo-fotos: #628395;
}
body {
    margin: 0;
}
.cabecalho {
    background-color: var(--fundo-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .cabecalho__titulo {
      font-weight: lighter;
      margin: 0;
      color: var(--branco-pradao);
      height: 40px;
      padding-left: 10px;
      flex-direction: column;
      font-family: 'Cookie', cursive;
      font-size: 22px;
  }
    .cabecalho__botoes {
        list-style: none;
        background-color: transparent;
        padding-right: 20px;
        border-bottom: var(--cor-borda-botao);
    }
        .styleBotoes {
            background-color: transparent;
            color: var(--branco-pradao);
            cursor: pointer;
            border: 0;
            border-bottom: 1px solid transparent;  
        }
        .styleBotoes:hover {
            border-bottom: 2px solid #1f2eb1cb; 
        }
.principal {
    background-color: var(--fundo-main);
    padding: 20px 0 30px 0;
    color: var(--branco-pradao);
}
    .principal__topo {
        text-align: center;
    }
        .principal__topo--titulo {
            margin:0;
            height: 40px;
        }
        .principal__topo--imagem {
            height: 300px;
            width: 720px;
            box-shadow: rgba(27, 27, 204, 0.829) 0px 7px 29px 0px;
        }

    .principal__populares--titulo {
        padding-left: 20px;
        font-size: 30px;
    }
    .principal__populares--opcoes {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;
        margin: 10px;
        cursor: pointer;
        overflow-x: scroll;
    }
    .principal__populares--opcoes::-webkit-scrollbar {
        width: 12px;
    }
    .principal__populares--opcoes::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.193); 
    }
    .principal__populares--opcoes::-webkit-scrollbar-thumb {
        background-color: var(--fundo-footer);
        border-radius: 20px;       
    
    }
        .principal__populares--opcao{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        .populares__opcao--imagens{
            border: 5px solid transparent; 
            height: 298px; 
            width: 200px;
            
        }
        .populares__opcao--imagens:hover {
            border: 5px solid #152085cb;
        }
    .principal__filmes--titulo {
        padding-left: 20px;
        font-size: 30px;
    }
    .principal__filmes--opcoes {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;
        margin: 10px;
        cursor: pointer;
        overflow-x: scroll;
    }
    .principal__filmes--opcoes::-webkit-scrollbar {
        width: 12px;
    }
    .principal__filmes--opcoes::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.193); 
    }
    .principal__filmes--opcoes::-webkit-scrollbar-thumb {
        background-color: var(--fundo-footer);
        border-radius: 20px;       
    
    }
        .principal__filmes--opcao{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .filmes__opcao--imagens{
            border: 5px solid transparent;  
            height: 298px; 
            width: 200px;
        }
        .filmes__opcao--imagens:hover {
            border: 5px solid #152085cb;
        }
   

    .principal__series--titulo {
        padding-left: 20px;
        font-size: 30px;
    }
         .principal__series--opcoes {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            list-style: none;
            margin: 10px;
            cursor: pointer;
            overflow-x: scroll;
        }
        .principal__series--opcoes::-webkit-scrollbar {
            width: 12px;
        }
        .principal__series--opcoes::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.193); 
        }
        .principal__series--opcoes::-webkit-scrollbar-thumb {
            background-color: var(--fundo-footer);
            border-radius: 20px;       
        
        }

            .principal__series--opcao{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .series__opcao--imagens{
                border: 5px solid transparent;  
                height: 298px; 
                width: 200px;
            }
            .series__opcao--imagens:hover {
                border: 5px solid #152085cb;
            }
.rodape {
    background-color: var(--fundo-footer);
    height: 20px;
}
@media (max-width:815px) {
    .principal__topo--imagem{
        width: 84%;
        height: 210px;
    }
    .cabecalho__titulo {
        font-size: 25px;
        margin-top: 5px;
    }
    .styleBotoes {
        font-size: 12px;
    }
    .principal__populares--titulo, .principal__filmes--titulo, .principal__series--titulo {
        font-size: 23px;
}
